<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook - log in or sign up</title>
    <link rel="icon" href="../static/img/facebook.png" type="image/gif" sizes="36x36">
    <link rel="stylesheet" href="../static/css/mystyle.css">
</head>

<body>
    <div class="frontpage">
        <div class="facebooktext">
            <div class="facebookfistblank"></div>
            <!-- facebook text part -->
            <div class="facebooklogo ">
                <div class="image">
                    <img class="img" src="../static/img/facebook.svg" alt="">
                </div>
                <div class="text">
                    <h2 class="fontfamily">Facebook helps you connect and share with the people in your life.</h2>
                </div>
            </div>

            <div class="facebooklogo"> </div>
            <div class="facebooklogo"> </div>
        </div>
        <!-- loginpart -->
        <div class="loginSpace">
            <div class="secdpartfirstblank"></div>
            <div class="loginpagepartportion">
                <div class="loginpagecontainer">
                    <input type="text" class="inputtext" placeholder="Email address or phone number">
                    <input type="text" class="inputtext" placeholder="Password">
                    <button class="inputbutton"><span id="Log_In">Log In</span></button>
                    <div class="forget_container">
                        <p class="forget_password">Forgotten password?</p>
                    </div>
                    <div class="hr"></div>
                    <div class="account">
                        <p id="newaccounttext">Create New Account</p>
                    </div>
                </div>
                <p class="bottomtext"><span id="bold"> Create a Page</span> for a celebrity, brand or business.</p>
            </div>

            <div class="secdpartfirstblank"></div>
        </div>
    </div>


</body>

</html>