body {
    padding: 0px;
    margin: 0px;
}

.frontpage {
    width: 100%;
    height: 800px;
    background-color: #f0f2f5;

}

.facebooktext {
    float: left;
    width: 50%;
    height: 800px;
}

.facebookfistblank {
    height: 170px;
    width: 100%;
}

.facebooklogo {
    height: 200px;
    width: 100%;
}

.image {
    height: 72px;
    width: 100px;
}

.text {
    height: 100px;
    width: 100px;
}

.img {
    height: 106px;
    width: 370px;
    margin-left: 70px;
}

.fontfamily {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    width: 500px;
    margin-left: 138px;
}

.loginSpace {
    float: right;
    width: 50%;
    height: 800px;

}

.secdpartfirstblank {
    height: 140px;
    width: 100%;
}

.loginpagepartportion {
    height: 400px;
    width: 100%;

}

.loginpagecontainer {
    background-color: white;
    height: 360px;
    width: 396px;
    margin-left: 80px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 10px;
}

.inputtext {
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 88%;
    height: 48px;
    margin-top: 15px;
    margin-left: 15px;
}

::placeholder {
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
}

.inputbutton {
    width: 89%;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #1877f2;
    height: 48px;
    margin-top: 15px;
    margin-left: 15px;
}

#Log_In {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.forget_password {
    color: #1877f2;
    text-decoration: none;
    line-height: 10px;
    margin-left: 124px;
    margin-top: 20px;
    font-family: inherit;
}

.forget_container {
    height: 20px;
    width: 100%;
}

.hr {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}

.account {
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 50%;
    height: 48px;
    margin-top: 15px;
    margin-left: 99px;
    background-color: #42b72a;
}

#newaccounttext {
    margin-left: 17px;
    font-weight: bold;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    border-radius: 6px;
    font-size: 17px;
    color: white;
}

#bold {
    font-weight: bold;
}

.bottomtext {
    font-size: 14px;
    margin-left: 120px;
    margin-top: 20px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}